@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Source+Code+Pro:wght@300&display=swap');
body {
  min-width:320px;
  margin:0px;
  padding:0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:"/images/background.jpg";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin:0px;
    padding:0px;
}
::-webkit-scrollbar {
  width:7px;
}

/* Track */
::-webkit-scrollbar-track {
  background:black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:white;
}
